In [14]:
import mysql.connector as connector

In [27]:
connection = connector.connect(user = "root", password = "rootpassword", db = "littlelemndb")

In [28]:
cursor = connection.cursor()

In [29]:
use_database = """ USE littlelemndb"""
cursor.execute(use_database)

In [30]:
show_tables = """ SHOW TABLES"""
cursor.execute(show_tables)

# Fetch and print the results
results = cursor.fetchall()
for row in results:
    print(row)

('bookings',)
('customers',)
('employee',)
('menu',)
('order_items',)
('orderdeliverystatus',)
('orders',)
('ordersview',)

In [33]:
query = """ 
    SELECT 
        c.FullName, 
        c.Email, 
        c.CustomerID, 
        SUM(o.TotalCost) AS TotalCost 
    FROM 
        Customers AS c 
    JOIN 
        Orders AS o ON o.CustomerID = c.CustomerID 
    WHERE TotalCost > 60
    GROUP BY 
        c.FullName, 
        c.Email, 
        c.CustomerID 
    
"""
cursor.execute(query)
result = cursor.fetchall()
for row in result:
    print(row)

('Emily Davis', 'emily.davis@example.com', 6, Decimal('70.00'))
('David Lee', 'david.lee@example.com', 7, Decimal('80.00'))
('Sophia Patel', 'sophia.patel@example.com', 8, Decimal('90.00'))